<div class="row" style="margin-bottom:25px">
    <div class="col-md-12">
        <canvas id="canvas1"></canvas>
    </div>
</div>
<div class="row" style="margin-bottom:40px">
    <div class="col-md-12 text-center">
        <small><i>Tested on April 3, 2020</i></small></br>
        <small>ZoneMinder version : 1.34.8, 2020-03-30</small></br>
        <small>Shinobi version : DEV 21b2de65fd7d38ed0fc308137b92a7b454b50c3c, 2020-03-29</small></br>
        <small>Tested with <a title="Bear Video" href="https://cdn.shinobi.video/videos/bears.mp4" target="blank">1 Simulated Stream, 1280x720, 30fps</a>, Passthrough (copy) Recording</small></br>
        <small>Running on a NVIDIA Jetson Nano, jetson-nano-sd-r32.1.1-2019-05-31.img</small></br></br>
    </div>
<!--
    <div class="col-md-6 text-center">
        <small><i>Side Note</i></small></br>
        <small style="max-width:400px;display:inline-block">Shinobi and ZoneMinder were installed on the same Jetson Nano. Each tested with the other turned off. Unfortunately ZoneMinder still leaves processes running (apache, etc.) once it's services have been halted. Shinobi's results will reflect those processes.</small>
    </div>
 -->
</div>
<script>
    $(document).ready(function(){
        var addPercentToData = function(config){
            $.each(config.data.datasets,function(n,digit){
                config.data.datasets[n] = digit + '%'
            })
        }
        var createOptions = function(title){
            return {
					responsive: true,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: title
					}
				}
        }
        var createLabelArray = function(times){
            var newArray = []

            $.each([
                '1 Stream, 0 Viewers, 1 Recording',
                '1 Stream, 1 Viewer, 1 Recording',
                '1 Stream, 3 Viewers, 1 Recording',
                '3 Streams, 3 Viewers, 3 Recording',
            ],function(n,labelType){
                newArray.push(labelType)
            })
            return newArray
        }
        var config = {
            type: 'bar',
            data: {
                labels: createLabelArray(7),
                datasets: [{
                    label: 'ZoneMinder',
                    backgroundColor: window.chartColors.grey,
                    borderColor: window.chartColors.grey,
                    fill: false,
                    data: [
                       26,
                       37,
                       55,
                       79
                    ],
                }, {
                    label: 'Shinobi',
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    fill: false,
                    data: [
                       7,
                       8,
                       9,
                       12,
                    ],
                }]
            },
            options: createOptions('Approximate CPU % used on a NVIDIA Jetson Nano')
        };
        var ctx = document.getElementById('canvas1').getContext('2d');
        window.myLine = new Chart(ctx, config);
    })

</script>
