<div id="mainBlock">
    <a href="https://shinobi.video">
        <img style="border-radius:50%" src="libs/assets/icon/apple-touch-icon-152x152.png">
        <h1>4<span>😭</span>4</h1>
        <h4>Why are you here?</h4>
    </a>
</div>
<style>
#mainBlock {
    text-align:center;
    margin-top: 100px;
    color: #333;
    line-height: 1;
}
#mainBlock img {
    font-weight: 200;
    font-family: san-serif;
    font-size: 100pt;
}
#mainBlock h1 {
    font-weight: 200;
    font-family: san-serif;
    font-size: 100pt;
    margin: 15px;
}
#mainBlock h1 span{
    font-size: 80%;
}
#mainBlock h4 {
    font-size: 20pt;

}
#mainBlock a {
    text-decoration:none;
    color: initial;
}
</style>
