<% config.Title='Articles';%>
<% include blocks/globalHeader.ejs %>
<link rel="stylesheet" type="text/css" href="/libs/css/articles.css">
<script src="/libs/js/jquery.min.js"></script>
<script src="/libs/js/moment.js"></script>
<link rel="stylesheet" href="/libs/css/font-awesome.min.css">
<meta name="description" content="Read news about the security sector and more! Shinobi Articles." />
<title>Shinobi - <%- config.Title;%></title>
<header class="page__header">
    <% include blocks/articles/menu.ejs %>
    <div class="page__container">
        <div data-editable data-name="page__heading">
            <h1 class="page__heading">
                Check out <a href="https://hub.shinobi.video/articles">Shinobi<b style="font-weight:500">Hub</b></a>
            </h1>
        </div>
        <div data-editable data-name="page__opening">
            <p class="page__opening">
                The new home for Shinobi Articles.<br>
                Where <b style="font-weight:500">you</b> can share ideas too.
            </p>
        </div>
        <input id="search" placeholder="Search Articles">
    </div>
</header>
<main class="page__main">
    <div class="page__container">
        <section class="formatted">
            <div class="index-nav__row">
                <div class="index-nav__item flex-4">
                    <ul id="article-list" class="article-list"></ul>
                </div>
            </div>
        </section>
        <div style="margin:30px"></div>
    </div>
</main>
<script>
$(document).ready(function(){
    var articleList = $('#article-list')
    var loadRows = function(){
        articleList.html('<div class="text-center"><i style="font-style:initial;color:#122444" class="fa fa-4x fa-pulse fa-spinner"></i></div>')
        $.get(`https://hub.shinobi.video/articles/search?skipOver=0&rowLimit=10&sortBy=dateUpdated&sortDirection=DESC&text=${$('#search').val()}`,function(d){
            var tmp='';
            $.each(d.articles,function(n,v){
                tmp+='<a href="https://hub.shinobi.video/articles/view/'+v.id+'"><li>'
                tmp+='<span class="pull-right" style="margin-left:10px">'+v.dateUpdated+'</span>'
                tmp+='<h2 id="'+v.id+'">'+v.heading.replace(/(<([^>]+)>)/ig,"").trim()+'</h2>'
                tmp+='<p>'+v.opening.replace(/(<([^>]+)>)/ig,"").trim()+'</p>'
                tmp+='</li></a>'
            })
            articleList.html(tmp)
        })
    }
    $('#search').change(function(e){
        loadRows()
    })
    loadRows()
})
</script>
<% include blocks/articles/footer.ejs %>
