<% config.Title='Estimate Usage'; %>
<% include blocks/header.ejs %>
<section id="checker" class="bg-default">
    <div class="container" style="padding-top:100px">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">Estimate Possible Usage</h2>
                <p>All values shown are approximations. Please consider testing on real hardware before making any purchase decisions.</p>
                <hr class="primary">
            </div>
        </div>
        <div style="margin-top:20px;">
            <% include blocks/cameraRequirementChecker.ejs %>
        </div>
     </div>
 </section>
 <% include blocks/adstrip.ejs %>
  <section id="learn8">
     <div class="container">
         <div class="row">
             <div class="col-lg-6 text-center pull-right">
                 <h2 class="margin-top-0 text-primary">Why the name?</h2>
                 <br>
                 <img style="max-width:100%;max-height:150px;display:inline-block" src="/libs/assets/ninja-samurai-heads.png">
             </div>
             <div class="col-lg-6 text-center">
                 <p class="large">In Short : It is a representation of warring nations that have come together to find peace rather than conflict.</p>
                 <div class="btn-group">
                     <a href="https://hub.shinobi.video/articles/view/MGGTLj1ZhGfQxvi" class="btn btn-primary btn-xl">More about this</a>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <% include blocks/footer.ejs %>
