<% config.Title='Konekta by Shinobi'; %>
<% include blocks/header.ejs %>
<style>
    .super-table tr td:first-child{text-transform:initial;font-weight: 500;}
    .super-table thead tr td{text-transform: initial;letter-spacing: normal;}
    header{background-image:url(/libs/assets/backgrounds/2.jpg)}
</style>
<% include blocks/subheader.ejs %>
<header id="first">
    <div class="_shade">
    <div class="header-content">
        <div class="inner">
            <img style="max-height:350px;border-radius:50%;border: 1px solid #333;background: rgba(0,0,0,0.2)" src="/libs/assets/icon/purple-mstile-310x310.png">
            <h1 class="cursive">Konekta</h1>
            <h4>Self-Hosted P2P Server to do away with VPN and Port-Forwarding of your Shinobi systems.</h4>
            <h6>Enterprise Support subscriptions can activate this product.</h6>
            <hr>
            <div class="btn-group">
                <a href="https://cdn.shinobi.video/binaries/konekta/konekta-windows.zip" class="btn btn-default btn-xl page-scroll"><i class="fa fa-windows"></i> Windows</a>
                <a href="https://cdn.shinobi.video/binaries/konekta/konekta-linux.zip" class="btn btn-default btn-xl page-scroll"><i class="fa fa-linux"></i> Linux</a>
                <a href="https://cdn.shinobi.video/binaries/konekta/konekta-macos.zip" class="btn btn-default btn-xl page-scroll"><i class="fa fa-apple"></i> macOS</a>
            </div>
            <div style="margin-bottom: 10px"></div>
            <div class="btn-group">
                <a href="https://licenses.shinobi.video/subscribe" class="btn btn-success btn-xl page-scroll">See all Plans</a>
            </div>
        </div>
        </div>
    </div>
</header>
<% include blocks/footer.ejs %>
