<footer class="page__footer">
    <div class="page__container">
        <p class="sign-off text-center">
            More Articles on <a href="https://hub.shinobi.video/articles">Shinobi<b style="font-weight:500">Hub</b></a> by Shinobi Systems
        </p>
    </div>
</footer>
<% include ../globalFooter.ejs %>
<% include ../facebooklauncher.ejs %>
<% include ../donatemonthlybar.ejs %>
