<nav class="site-nav">
    <a href="https://hub.shinobi.video/articles" class="site-nav__logo">Articles</a>
    <div class="site-nav__toggle">
        <span class="sr-only">Toggle navigation</span>
    </div>
    <ul class="site-nav__items">
        <li class="site-nav__item">
            <a href="/"class="site-nav__link">Home</a>
        </li>
        <li class="site-nav__item">
            <a href="/docs"class="site-nav__link">Documentation</a>
        </li>
        <li class="site-nav__item">
            <a href="https://hub.shinobi.video/articles" class="site-nav__link">Shinobi<b style="font-weight:500">Hub</b></a>
        </li>
    </ul>
</nav>
