<div id="promo-block" class="promo-block promo-block-2">
    <div class="container">
        <div class="promo-block-inner">
            <h3 class="promo-title text-center"><i class="fa fa-heart"></i> <a href="https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm" target="_blank">AppKit - Bootstrap Angular Admin Theme for Developers</a></h3>
            <div class="row">
                <div class="figure-holder col-md-5 col-sm-6 col-xs-12">
                    <div class="figure-holder-inner">
                        <a href="https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm" target="_blank"><img class="img-responsive" src="/assets/images/demo/appkit-dashboard-4-thumb.jpg" alt="AppKit Theme" /></a>
                        <a class="mask" href="https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm"><i class="icon fa fa-heart pink"></i></a>
                    </div>
                </div><!--//figure-holder-->
                <div class="content-holder col-md-7 col-sm-6 col-xs-12">
                    <div class="content-holder-inner">
                        <div class="desc">
                            <h4 class="content-title"><strong>Love this free documentation theme?</strong></h4>
                            <p>Check out AppKit - an Angular admin theme I created with my developer friend <a href="https://twitter.com/tnajdek">Tom Najdek</a> for developers. AppKit uses modern front-end technologies and is packed with useful components and widgets to speed up your app development.</p>
                            <p><strong class="highlight">[Tip for developers]:</strong> If your project is Open Source, you can use this area to promote your other projects or hold third party adverts like Bootstrap and FontAwesome do!</p>
                            <a class="btn btn-cta" href="https://wrapbootstrap.com/theme/appkit-admin-theme-angularjs-WB051SCJ1?ref=3wm">View Demo</a>
                        </div><!--//desc-->
                        <div class="author"><a href="http://themes.3rdwavemedia.com">Xiaoying Riley</a></div>
                    </div><!--//content-holder-inner-->
                </div><!--//content-holder-->
            </div><!--//row-->
        </div><!--//promo-block-inner-->
    </div><!--//container-->
</div><!--//promo-block-->
